body{
    background-color: aliceblue;
}
.fa{
    color: rgb(56, 228, 228);
}
.text{
    margin: 20px 5px;
}
.box-inside{
    background-color: white;
    text-align: center;
    padding: 50px 5px;
    margin: 30px 5px;
}
.box{
    padding: 60px 5px;
}